header{
	width: 100%;
	height: 1rem;
	background: #f6d84d;
	padding: 0.25rem;
}
header .top{
	width: 5.23rem;
	height: 0.44rem;
	/*background: green;*/
	position: relative;
	margin:0 auto;
}
header input{
	display: block;
	width: 5.23rem;
	height: 0.44rem;
	background: #fff;
	border-radius: 0.21rem;
	border: none;
	margin:0 auto;
	padding-left: 0.55rem;
	color: #f6d84d;
	font-size: 0.18rem;
}
header .top .icon-sousuo{
	color: #f6d84d;
	position: absolute;
	font-size: 0.28rem;
	top:0.1rem;
	left: 0.2rem;
}
header .top .icon-erweima{
	color: #f6d84d;
	position: absolute;
	font-size: 0.28rem;
	top:0.1rem;
	right: 0.2rem;
}
/*修改input中提示性文字的颜色*/
::-webkit-input-placeholder{
	color: #989898;
}
.banner{
	width: 100%;
	height: 4.2rem;
	padding:0.24rem;
	position: absolute;
}
.banner img{
	width: 100%;
	height: 100%;
}
.banner .point{
	width: 1.38rem;
	height: 0.12rem;
	/*background: red;*/
	margin:0 auto;
	position: relative;
	bottom: 0.5rem;
}
.banner .point .dian{
	width: 0.11rem;
	height: 0.11rem;
	background: #fff;
	float: left;
	margin-right: 0.2rem;
	border-radius: 50%;
}
.banner .point .dian:nth-child(1){
	background: #f6d84d
}
.banner .point .dian:nth-child(5){
	margin-right: 0;
}
nav{
	width: 100%;
	height: 4.64rem;
	/*background: red;*/
	margin-top: 4.23rem;
	padding:0.4rem 0.24rem;
}
nav ul{
	width: 100%;
	height: 4.26rem;
	/*background:pink;*/
	padding: 0 0.2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
nav ul li{
	width: 1.33rem;
	height: 1.73rem;
	/*background: green;*/
	float: left;
	margin-right: 0.43rem;
	margin-bottom: 0.42rem;
}
nav ul li:nth-child(4){
	margin-right: 0;
}
nav ul li:nth-child(8){
	margin-right: 0;
}
nav ul li img{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	margin:0 auto;
}
nav ul li h2{
	width: 100%;
	height: 0.16rem;
	/*background: red;*/
	font-size: 0.16rem;
	color: #545454;
	text-align: center;
	line-height: 0.16rem;
	margin-top: 0.2rem;
}
.ad{
	width: 100%;
	height: 3.58rem;
	/*background: red;*/
	padding: 0 0.24rem;
}
.ad li{
	width: 50%;
	height: 50%;
	/*background: green;*/
	float: left;
}
.ad li:nth-child(1){
	width: 50%;
	height: 100%;
}
.ad li img{
	width: 100%;
	height: 100%;
}
.tuijian{
	width: 100%;
	height: 2.54rem;
	background-image: url(../img/tuijian.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 0.1rem;
}
.tuijian img{
	width: 4.18rem;
	height: 1.07rem;
	margin:0.92rem 1.7rem;
}
main{
	width: 100%;
	/*background: red;*/
	padding: 0 0.24rem;
	margin-bottom: 0.98rem;
}
main .order{
	width: 100%;
	height: 0.4rem;
	/*background: green;*/
}
main .order li{
	width: 0.9rem;
	height: 0.4rem;
	background: #fff;
	border: 0.05rem solid #f6d84d;
	float: left;
	margin-right: 0.4rem;
	border-radius: 0.2rem;
	font-size: 0.18rem;
	text-align: center;
	line-height: 0.28rem;
	color: #f6d84d;
}
main .order li:nth-child(1){
	width: 1.43rem;
	background: #f6d84d;
	color: #fff;
}
main .items{
	width: 100%;
	height: 2rem;
	/*background: red;*/
	margin-top: 0.24rem;
	border-radius: 0.1rem;
	box-shadow: 0 0.1rem 0.05rem 0.05rem rgba(0,0,0,0.05)
}
main .items .pic{
	width: 23%;
	height: 100%;
	/*background: green;*/
	float: left;
	padding: 0.17rem;
}
main .items .pic img{
	width: 100%;
	height: 100%;
}
main .items .word{
	width: 77%;
	height: 100%;
	/*background: pink;*/
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0.17rem 0;
}
main .items .word .word1{
	width: 100%;
	height: 0.26rem;
	/*background: red;*/
}
main .items .word .word1 .title{
	/*width: 1.24rem;*/
	height: 0.26rem;
	/*background: green;*/
	font-size: 0.22rem;
	color: #000000;
	line-height: 0.26rem;
	float: left;
}
main .items .word .word1 .eva{
	/*width: 1.45rem;*/
	height: 0.26rem;
	/*background: green;*/
	float: right;
	margin-right: 0.68rem;
}
main .items .word .word1 .eva i{
	display: block;
	float: left;
	color: #f6d84d;
}
main .items .word li{
	font-size: 0.16rem;
	color: #5c5c5c;
	padding-right: 0.88rem;
	margin-top: 0.16rem;
}
main .items .word2{
	width: 100%;
	height: 0.22rem;
	/*background: green;*/
	margin-top: 0.2rem;
}
main .items .word2 i{
	display: block;
	float: left;
}
main .items .word2 .iconfont{
	font-size: 0.21rem;
	color: #f6d84d;
}
main .items .word2 p{
	display: block;
	font-size: 0.12rem;
	color: #787878;
	line-height: 0.3rem;
	float: left;
	margin-left: 0;
	margin-right: 0.32rem;
}
footer{
	width: 100%;
	height: 0.98rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
}
footer .label{
	width: 25%;
	height: 100%;
	background: #fff;
	float: left;
}
footer .label i{
	display: block;
	font-size: 0.5rem;
	color: #f6d84d;
	text-align: center;
	line-height: 0.8rem;
	height: 0.6rem;
}
footer .label .active{
	color: #cc3a01;
}
footer .label p{
	font-size: 0.16rem;
	color: #676767;
	text-align: center;
}